
.active{
    background-color: red;
}
.hidden{
    display:none;
}
table {
    border-collapse: collapse;
    width: 100%;
    }
    
    th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    }
    
    th {
    background-color: #f2f2f2;
    }
    
    .buttoni {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    }